# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
venv/
env/
myenv/

# Environment variables
.env

# SQLite / database files
*.sqlite3
*.db

# Logs and debug files
*.log

# VSCode and other editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Cache folders
.cache/
.mypy_cache/
pytest_cache/

